<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="java-ul-odisys-api" publicKeyToken="6935958ad4a06599" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.20.0.0" newVersion="3.20.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="java-ul-odisys-api-helpers" publicKeyToken="6935958ad4a06599" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.17.0.4" newVersion="3.17.0.4" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>